**Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].**

SOLUTION IS IN NEXT CELL

In [2]:
years_list = list(range(1992, 1998))
print(years_list)

[1992, 1993, 1994, 1995, 1996, 1997]

**Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.**

SOLUTION IS IN NEXT CELL

In [3]:
years_list[3]

1995

**Q3. In the years list, which year were you the oldest?**

SOLUTION IS IN NEXT CELL

In [4]:
years_list[-1]

1997

**Q4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".**

SOLUTION IS IN NEXT CELL

In [5]:
things = ["mozzarella", "cinderella", "salmonella"]

**Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?**

SOLUTION IS IN NEXT CELL

In [7]:
print(things[1].capitalize())
print(things)

Cinderella
['mozzarella', 'cinderella', 'salmonella']

**Q6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."**

SOLUTION IS IN NEXT CELL

In [8]:
surprise = ["Groucho", "Chico",  "Harpo"]

**Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.**

SOLUTION IS IN NEXT CELL

In [9]:
surprise[-1].lower()[::-1].capitalize()

'Oprah'

**Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.**

SOLUTION IS IN NEXT CELL

In [10]:
e2f = {"dog" : "chien", "cat" : "chat", "walrus" : "morse"}

**Q9. Write the French word for walrus in your three-word dictionary e2f.**

SOLUTION IS IN NEXT CELL

In [11]:
e2f["walrus"]

'morse'

**Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.**

SOLUTION IS IN NEXT CELL

In [12]:
e2f.items()

dict_items([('dog', 'chien'), ('cat', 'chat'), ('walrus', 'morse')])

In [14]:
f2e = {}
for key, value in e2f.items():
    f2e[value] = key
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

**Q11. Print the English version of the French word chien using f2e.**

SOLUTION IS IN NEXT CELL

In [15]:
f2e["chien"]

'dog'

**Q12. Make and print a set of English words from the keys in e2f.**

SOLUTION IS IN NEXT CELL

In [18]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

**Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.**

SOLUTION IS IN NEXT CELL

In [19]:
life = {"animals":{"cats":["Henri", "Grumpy", "Lucy"], "octopi": {}, "emus": {}}, "plants": {}, "other": {}}

**Q14. Print the top-level keys of life.**

SOLUTION IS IN NEXT CELL

In [20]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

**Q15. Print the keys for life['animals'].**

SOLUTION IS IN NEXT CELL

In [21]:
print(life["animals"].keys())

dict_keys(['cats', 'octopi', 'emus'])

**Q16. Print the values for life['animals']['cats']**

SOLUTION IS IN NEXT CELL

In [22]:
print(life["animals"]["cats"])

['Henri', 'Grumpy', 'Lucy']