**Q1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.**

SOLUTION IS IN THE NEXT CELL:

In [1]:
test1 = 'This is a test of the emergency text system,'
file = open("text.txt", "w")
file.write(test1)
file.close()

**Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?**

SOLUTION IS IN THE NEXT TWO CELL:

In [3]:
file = open("text.txt", "r")
test2 = file.read()
file.close()
print(test2)
print(test1==test2)

This is a test of the emergency text system,
True

* No difference between test1 and test2

**Q3. Create a CSV file called books.csv by using these lines:**

* title,author,year
* The Weirdstone of Brisingamen,Alan Garner,1960
* Perdido Street Station,China Miéville,2000
* Thud!,Terry Pratchett,2005
* The Spellman Files,Lisa Lutz,2007
* Small Gods,Terry Pratchett,1992


SOLUTION IS IN THE NEXT CELL:

In [5]:
import csv
output_file = open("books.csv", "w", newline="")
output_writer = csv.writer(output_file)

output_writer.writerow(['title','author','year'])
output_writer.writerow(['The Weirdstone of Brisingamen','Alan Garner',1960])
output_writer.writerow(['Perdido Street Station','China Miéville',2000])
output_writer.writerow(['Thud!','Terry Pratchett',2005])
output_writer.writerow(['The Spellman Files','Lisa Lutz',2007])
output_writer.writerow(['Small Gods','Terry Pratchett',1992])

output_file.close()

**Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).**

SOLUTION IS IN THE NEXT CELL:

In [6]:
import sqlite3

db = sqlite3.connect("books.db")
cursor = db.cursor()
cursor.execute("""CREATE TABLE books(
                    title text, author text, year integer)""")
db.commit()
db.close()

**Q5. Read books.csv and insert its data into the book table.**

SOLUTION IS IN THE NEXT CELL:

In [19]:
import csv 
import sqlite3

books_file = open("books.csv")
books_reader = csv.reader(books_file)

books_data = list(books_reader)
count=0

db = sqlite3.connect("books.db")
cursor = db.cursor()

for book in books_data:
    if count ==0:
        count += 1
    else:
        cursor.execute("INSERT INTO books VALUES('{}', '{}', {})".format(book[0], book[1], book[2]))
        
db.commit()
db.close()

**Q6. Select and print the title column from the book table in alphabetical order.**

SOLUTION IS IN THE NEXT CELL:

In [20]:
db = sqlite3.connect("books.db")
cursor = db.cursor()

data = cursor.execute("SELECT title FROM books ORDER BY title ASC")

for i in data:
    print(i)
    

db.close()

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

**Q7. From the book table, select and print all columns in the order of publication.**

SOLUTION IS IN THE NEXT CELL:

In [16]:
db = sqlite3.connect("books.db")
cursor = db.cursor()

data = cursor.execute("SELECT * FROM books ORDER BY year ASC")

for i in data:
    print(i)
    
db.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

**Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.**

**Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.**

**Q10. Increment the count field of test and print it.**